@font-face {
  font-family: 'school';
  src: local('school'), url(./fonts/school.ttf) format('truetype');
}
* {
  font-family: 'school';
}
@import "./css/calendarCss.css";

html {
  font-size: 62.5%; /* 10px = 1rem */
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr min-content; /*header body footer*/
  height: 100%
}

header {
  padding: 3rem 0rem 0rem 0rem;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

header a {
  color: #000000;
  text-decoration: none;
  margin-right: 3rem;
}

/* checkbox setting */


/*start of webkit scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #F9D876;
  border-radius: 20px;
  border: transparent;
}
/* end of webkit scrollbar */

/* search bar */

.searchbar {
  display: flex;
  flex-direction: row;
}

.searchbar input{
  width: 30rem;
  border: 1px solid #000000;
}

.searchbar input:focus{
  outline: none;
  box-shadow: 0px 0px 0px 1px #F9D876;
}

.searchbar button{
  background-color: #F9D876;
  color: #000000;
  border: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  cursor: pointer;
}

/* Grid Line */

.grid-area {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  display: flex;
}

main {
  height: 80vh;
  font-size: 2.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem 0rem 10rem;
}

.mainLeft {
  width: 50%;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 0.25px solid #000000;
  border-radius: 24px;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
}

.mainRight {
  width: 50%;
  border-left: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 24px;
  padding: 1.5rem 1.5rem 1.5rem 0rem;
}

/* Left content */
.leftInnerBorder {
  background-color: #FFFFFF;
  border-right: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  display: flex;
}

.leftContent {
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.leftContent strong{
  cursor: pointer;
  color: #F9D876;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leftBody {
  max-height: 90%;
}

.leftFooter {
  margin-bottom: 1rem;
  margin-right: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftFooter button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.leftWidget {
  display: block;
}

/* Right content */
.rightInnerBorder {
  background-color: #FFFFFF;
  border-left: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rightContent {
  padding: 0rem 7rem 0rem 7rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.rightContent span{
  margin: 2rem 0rem 0rem 0rem;
}

.rightHeader span{
  margin: 2rem 0 2rem 0;
  max-height: 10%;
}

.rightHeader{
  max-height: 10%;
}

.rightHeader input {
  width: 100%;
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
}

.rightBody {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  justify-content: space-between;
}

.rightBodyHeader {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightBodyHeader img {
  width: 2rem;
  height: 2rem;
}

.rightBodyHeader span{
  margin: 0;
  font-size: 2.2rem;
}

.weatherMood button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.weatherMood img {
  width: 2.2rem;
  height: 2.2rem;
}

.profileArea {
  height: 4rem;
  width: 4rem;
  background-color: #e9e9e9;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
  display: inline-block;
}

.rightBodyMain {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
}

.postImageArea {
  width: 100%;
  height: 50%;
  background-color: #e9e9e9;
  border: 1px solid #a4a4a4;
}

.uploadIcon {
  width: 100%;
  height: 250px;
  background-color: #e9e9e9;
  border: 1px solid #a4a4a4;
  display: inline-block;
  overflow: visible;
  border-radius: 0;
}

.uploadIconWithImage {
  width: 100%;
  height: 45%;
  background-color: #e9e9e9;
  border: 1px solid #a4a4a4;
  padding: 0 !important;
}

.postButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.postButtonsRight button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.postButtonsLeft button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.postInput {
  max-height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postInput2 {
  min-width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  overflow-y: hidden;
  white-space: pre-line;
}

.postInput2 span{
  margin: 0;
  height: 300px;
}

.postInput2:hover {
  overflow-y: overlay;
  overflow-x: hidden;
}

.postInput2 p{
  margin: 0 !important;
  padding: 0 0.5rem 0 0.5rem;
}

.postInput textarea{
  border: 1px solid #a4a4a4;
  font-size: 2rem;
  overflow-y: overlay;
  overflow-x: hidden;
}

.inputButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0rem 2rem 0;
}

.inputButtons button{
  padding: 0.3rem 1rem 0.3rem 1rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.inputButtons button:hover {
  cursor: pointer;
}


.save {
  background-color: #F9D876;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  color: #000000;
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rightFooter {

}

.footer {
  background-color: #928173;
}

/* Settings */
.settingsbox {
  width: max-content;
  height: max-content;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 1;
  position: fixed;
  background-color: #FFFFFF;
}

.settingsbox p1{
  margin-bottom: 1rem;
}

.checkboxButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 5px;
}

.checkboxButton label {
  margin-top: -6px;
}

.checkboxButton button {
  border: none;
  background-color: transparent;
  font-size: 2.2rem;
}

.checkboxButton input {
  font-size: 2rem;
}

.checkboxlist {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* start of calendar widget */
.calendarWidget {
  position: absolute;
  top: 0px;
}
/* end of calendar widget */

/* Todo widget */
.todoWidget {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 2rem;
  max-height: 17rem;
  background-color: white;
}

.todoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.todoHeader button {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todoHeaderButtons {
  display: flex;
  flex-direction: row;
}

.todoList {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 1rem 0.5rem;
  overflow-y: overlay;
}

input.todoElem::placeholder {
  color: black;
  opacity: 1;
}

.faceMoodTodo img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.faceMoodTodo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* end of todo widget */

/* start of notes widget */
.notesWidget {
  width: 20rem;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  max-height: 25rem;
  overflow-y: overlay;
  position: absolute;
  top: 2rem;
  max-height: 17rem;
  background-color: white;
}

.notesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: #F9D876;
  color: black;
  align-items: center;
  height: 2rem;
}

.notesHeader button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notesContent {
}

.notesContent .ql-editor{
  width: 100%;
  tab-size: 3;
  font-size: 2rem;
}

.notesContent .ql-editor ol {
  padding-left: 0rem;
}

.notesContent .ql-editor ul {
  padding-left: 0rem;
}

/* end of notes widget */

/* qull editor */
.plainRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.plainPostArea {
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}

.ql-container.ql-snow{
  border: none !important;
}

.quill {
  display: flex;
  flex-direction: column;
  max-height: 120%;
  background-color: transparent;
  border: none;
}

.ql-container {
  font-size: inherit !important;
  max-height: 82%;
}

.ql-toolbar.ql-snow span{
  margin: 0rem;
}

.plainRightButtons {
  display: flex;
  flex-direction: row;
}


.postButtonsPlain button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.plainRightFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: -4rem;
}

.settingsSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*start of dialog popup */

/*end of dialog popup */