@font-face {
  font-family: 'school';
  src: local('school'), url(./fonts/school.ttf) format('truetype');
}

@font-face {
  font-family: 'dunggeunmo';
  src: url(./fonts/dunggeunmo.ttf);
}

@font-face {
  font-family: 'NanumBarunpenR';
  src: local('NanumBarunpenR'), url(./fonts/NanumBarunpenR.otf) format('opentype');
}

* {
  font-family: 'school';
}
@import "./css/calendarCss.css";

html {
  font-size: 62.5%; /* 10px = 1rem */
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr min-content; /*header body footer*/
  height: 100%
}

header {
  padding: 3rem 0rem 0rem 0rem;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

header a {
  color: #000000;
  text-decoration: none;
  margin-right: 3rem;
}

/* checkbox setting */


/*start of webkit scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #F9D876;
  border-radius: 20px;
  border: transparent;
}
/* end of webkit scrollbar */

/* start of color line */
.line-yellow {
  border-top: 1px solid #F9D876;
}

.line-yellow-short{
  border-top: 1px solid #F9D876;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* end of color line */

.errorMessage {
  font-family: 'NanumBarunPenR';
  font-size: 2rem;

}

textarea {
  resize: none;
}

/* start of main header */
.mainHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerButtonSet {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.fill {
  
}
.mainMenu {
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
}

.mainMenu button {
  background: transparent;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
/* end of main header */

/*start of login modal */
.settingsboxHeaderLogin{
  width: max-content + 1rem;
  height: max-content + 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 1;
  position: fixed;
  background-color: #FFFFFF;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.loginHeader {
  display: flex;
  flex-direction: column;
}

.loginHeader span {
  font-size: 2rem;
  text-align: justify;
}

.loginHeader img {
  margin-left: 1rem;
}
/*end of login modal */
/* search bar */

.searchbar {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.searchbar input{
  width: 30rem;
  border: 1px solid #000000;
  font-size: 2rem;
}

.searchbar input:focus{
  outline: none;
  box-shadow: 0px 0px 0px 1px #F9D876;
}

.searchbar button{
  background-color: #F9D876;
  color: #000000;
  border: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  cursor: pointer;
}

/* Grid Line */

.grid-area {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  display: flex;
}

main {
  height: 80vh;
  font-size: 2.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem 0rem 10rem;
}

.mainLeft {
  width: 50%;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 0.25px solid #000000;
  border-radius: 24px;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
}

.mainRight {
  width: 50%;
  border-left: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 24px;
  padding: 1.5rem 1.5rem 1.5rem 0rem;
}

/* Left content */
.leftInnerBorder {
  background-color: #FFFFFF;
  border-right: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  display: flex;
}

.leftInnerBorderGuest {
  background-color: #FFFFFF;
  border-right: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftContent {
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.leftContent strong{
  cursor: pointer;
  color: #F9D876;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leftBody {
  max-height: 90%;
}

.leftFooter {
  margin-bottom: 1rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftFooter button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.leftWidget {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.leftWidget button {

}

/* start of dday widget */
.ddayWidget {
  width: 15rem;
  border: 1px solid #d2d2d2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 2rem;

}

.ddayWidget span {
  font-size: 2rem;
}

/* .ddayProgressHeader {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
} */


.ddayProgressHeader {
  position: relative;

}

.ddayDeco {
  width: 10px;
  height: 30px;
  border: 2px solid white;
  background-color: black;
  position: absolute;
  top: -15px;
  left: 30px;
  border-radius: 10px;
}

.ddayDeco2 {
  width: 10px;
  height: 30px;
  border: 2px solid white;
  background-color: black;
  position: absolute;
  top: -15px;
  right: 30px;
  border-radius: 10px;
}

.progressBarContainer{
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  height: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.progressBar{
  text-align: right;
  height: 3.2rem;
  background-color: #f73939;
  border-radius: 3px;
}

.datesLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
}

.daysLeftFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.endDate {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.endDate span {
  font-size: 2rem;
  font-weight: lighter;
}

.ddayTitle {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.ddayTitle span {
  margin-right: 0.4rem;
}

.ddayTitle input{
  font-size: 2rem;
  width: 20rem;
  border-radius: 0px;
  border: 1px solid #929292;
}

.datesLeft button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.displayTitle {
  margin-bottom: 0.5rem;
}

.ddayfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -0.7rem 0.2rem 0rem 0.2rem;
}

.ddayCollapse {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}
/* end of dday widget */

/* start of reminder widget */
.reminderWidget {
  width: 30rem;
  border: 1px solid #d2d2d2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 2rem;
  padding: 1rem;
}

.reminderWidget input {
  width: 23rem;
}

.reminderDeco {
  width: 6.5rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  left: -2rem;
  background: rgba(206, 151, 251, 0.5);
  border-radius: 0px;
  transform: rotate(-5.46deg);
}

.reminderHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reminderHeaderButtons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reminderContent {
  width: 100%;
}

.reminderContent input {
  font-size: 1.7rem;
}

.reminderDetial textarea {
  font-size: 3rem;
}

.reminderContent:hover {
  overflow-y: scroll;
}

.reminderItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 0.5rem;
}

.reminderItem button {
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 2rem;
  text-align: left;
}
.reminderTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.reminderDetail {
  width: 100%;
  cursor: pointer;
  padding-bottom: 0.2rem;
}

.reminderDetail p {
  margin-left: 0.6rem;
  margin-top: -0.1rem;
  margin-bottom: -0.1rem;
}

.reminderDetail textarea {
  width: 23.2rem;
}

/* end of reminder widget */
/* Right content */
.rightInnerBorder {
  background-color: #FFFFFF;
  border-left: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rightInnerBorderGuest {
  background-color: #FFFFFF;
  border-left: 0.25px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  max-height: 98.5%;
}

.rightContent span{
  margin: 2rem 0rem 0rem 0rem;
}

.rightContent button:disabled svg{
  color: rgb(164, 164, 164) !important;
}

.rightBodyAndHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 90%;
  width: 80%;
}

.marker {
  box-sizing: border-box;

  position: absolute;
  width: 6rem;
  height: 4rem;
  right: -5rem;
  top: 6rem;
  background: rgba(249, 216, 118, 0.8);
  /* background: rgba(249, 216, 118, 0.7); */
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.marker:hover {
  box-sizing: border-box;

  position: absolute;
  width: 7rem;
  height: 4rem;
  right: -6rem;
  top: 6rem;

  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
}

.marker span {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
}

.marker2 {
  box-sizing: border-box;

  position: absolute;
  width: 4.7rem;
  height: 4rem;
  right: -5rem;
  top: 12rem;

  /* background: rgba(247, 57, 57, 0.7); */
  background: rgba(233, 233, 233, 0.7);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.marker2:hover{
  box-sizing: border-box;

  position: absolute;
  width: 5.5rem;
  height: 4rem;
  right: -5.8rem;
  top: 12rem;

  /* background: rgba(247, 57, 57, 0.7); */
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
}

.marker2 span {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  margin-right: 1rem;
}

.marker3 {
  box-sizing: border-box;

  position: absolute;
  width: 4.7rem;
  height: 4rem;
  right: -5rem;
  bottom: 4rem;

  /* background: rgba(247, 57, 57, 0.7); */
  background: rgba(247, 57, 57, 0.6);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.marker3:hover{
  box-sizing: border-box;

  position: absolute;
  width: 5.5rem;
  height: 4rem;
  right: -5.8rem;
  bottom: 4rem;

  /* background: rgba(247, 57, 57, 0.7); */
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 0px 3px 3px 0px;
  z-index: 10;
}

.marker3 span {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  margin-right: 1rem;
}

.marker4 {
  box-sizing: border-box;

  position: absolute;
  width: 7rem;
  height: 2.5rem;
  right: -5rem;
  bottom: 4rem;
  background: rgba(249, 216, 118, 0.8);
  /* background: rgba(249, 216, 118, 0.7); */
  border: 1px solid #000000;
  border-radius: 3px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.marker4:hover {
  box-sizing: border-box;

  position: absolute;
  width: 8rem;
  height: 2.5rem;
  right: -6rem;
  bottom: 4rem;

  /* background: rgba(249, 216, 118, 0.7); */
  border: 1px solid #000000;
  border-radius: 3px;
  z-index: 10;
}

.marker4 span {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
}

.rightHeader span{
  margin: 2rem 0 2rem 0;
  max-height: 10%;
}

.rightHeader{
  max-height: 10%;
}

.rightHeader input {
  width: 100%;
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
}

.rightBody {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  justify-content: space-between;
}

.rightBodyHeader {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightBodyHeader img {
  width: 2rem;
  height: 2rem;
}

.rightBodyHeader span{
  margin: 0;
  font-size: 2.2rem;
}

.weatherMood button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.weatherMood img {
  width: 2rem;
  height: 2rem;
}

.profileArea {
  height: 4rem;
  width: 4rem;
  background-color: #e9e9e9;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
  display: inline-block;
}

.rightBodyMain {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
}

.stickerMaker img {
  z-index: 2 !important;
}

.reactEasyCrop_CropArea {
  z-index: 5 !important;
}

.postImageArea {
  width: 100%;
  height: 50%;
  background-color: #e9e9e9;
  border: 1px solid #a4a4a4;
}

.uploadIcon {
  width: 100%;
  height: 250px;
  background-color: #e9e9e9;
  border: 1px solid #a4a4a4;
  display: inline-block;
  overflow: visible;
  border-radius: 0;
}

.uploadIconWithImage {
  width: 100%;
  height: 45%;
  background-color: #e9e9e9;
  border: 1px solid #a4a4a4;
  padding: 0 !important;
}

.postButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.postButtonsRight {
  display: flex;
  flex-direction: row;
}

.postButtonsLeft {
  position: relative;
}

.postButtonsRight button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.postButtonsLeft button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.likes {
  position: absolute;
  font-size: 1.8rem;
  clear: both;
  left: 50px;
  bottom: 9px;
}

.postInput {
  max-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postInput2 {
  min-width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  overflow-y: hidden;
  white-space: pre-line;
}

.postInput2 span{
  margin: 0;
  height: 300px;
}

.postInput2:hover {
  overflow-y: overlay;
  overflow-x: hidden;
}

.postInput2 p{
  margin: 0 !important;
  padding: 0 0.5rem 0 0.5rem;
}

.postInput textarea{
  border: 1px solid #a4a4a4;
  font-size: 2rem;
  overflow-y: overlay;
  overflow-x: hidden;
}

.inputButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0rem 2rem 0;
}

.inputButtons button{
  padding: 0.3rem 1rem 0.3rem 1rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.inputButtons button:hover {
  cursor: pointer;
}


.save {
  background-color: #F9D876;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  color: #000000;
  background-color: #e9e9e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rightFooter {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.rightFooter span{
  font-family: 'NanumBarunPenR' !important;
}

.pageSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 3rem;
}

.pageSliderButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pageSliderButtons span {
  margin-bottom: 1.8rem;
}

.pageSliderButtons button{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.footer {
  background-color: #928173;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 13rem;
  border: 1px solid #F9D876;
  background-color: rgb(253, 243, 214);
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 1.5rem;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Header Modals */
.settingsboxHeader{
  width: max-content;
  height: max-content;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 1;
  position: fixed;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.friendHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.friendButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.friendButton button {
  margin: 0;
}

.friendCount span{
  font-size: 2.2rem;
  margin-right: 1rem;
}

.friendList {
  display: flex;
  flex-direction: column;
}

.friendList span {
  font-size: 2rem;
}
.friendItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.friendCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* end of Header Modals */

/* start of notification modal */
.notification {
  display: flex;
  flex-direction: column;
}
.notification span{
  font-size: 2rem;
  color: #929292
}

.notificationButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.save2 {
  background-color: #F9D876 !important;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.cancel2 {
  color: #000000;
  background-color: #e9e9e9 !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

.notiItem {
  border-radius: 5px;
}

.notiItem span {
  color: black;
}
/* end of notification modal */

/* Settings */
.settingsbox {
  width: max-content;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 1;
  position: fixed;
  background-color: #FFFFFF;
  margin-bottom: 4rem;
  max-height: 16.5rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.settingsboxTitle{
  padding: 1rem 1rem 0rem 1rem;
  font-size: 2.3rem;
}

.checkboxButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 5px;
}

.checkbox {
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.checkboxButton label {
  margin-top: -6px;
}

.checkboxButton button {
  border: none;
  background-color: transparent;
  font-size: 2.2rem;
}

.checkboxButton input {
  font-size: 2rem;
}

.checkboxlist {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* start of addpicsettings */
.stickerUpload {
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stickerUpload img {
}

.uploadIconMini {
  width: 10rem;
  height: 10rem;
}

/* end of addpicsettings */

/* start of stickerWidget */
.stickers {
  display: flex;
  flex-direction: row;
}

.stickerWidget img {
  width: 7rem;
  object-fit: contain;
}

.stickerMakerSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  width: 30rem;
  align-items: center;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
  padding: 1rem 2rem 1rem 2rem;
}

.stickerMakerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stickerShape button{
  background-color: transparent;
  color: black;
  border: 1px solid #d2d2d2;
  margin-right: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  width: 30%;
}
/* end of stickerWidget */

/* start of calendar widget */
.calendarWidget {
  position: absolute;
  top: 2rem;
}

.react-calendar__tile--now {
  background-color: #e6e6e6 !important;
}

.react-calendar__tile--active {
  /* background: #e6e6e6 !important; */
  border: 1px solid #f73939 !important;
  background: none;
  color: black !important;
}

.react-calendar__tile--active {
  background: none !important;
}

.react-calendar__tile--active:hover{
  background-color: #e6e6e6 !important;
}

.react-calendar span{
  font-size: 2rem;
}

abbr[title] {
  text-decoration: none !important;
  font-size: 2rem;
  font-weight: normal;
}

/* end of calendar widget */

/* Todo widget */
.todoWidget {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 2rem;
  max-height: 22rem;
  background-color: white;
}

.reminderDeco {
  width: 6.5rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  left: 8rem;
  background: rgba(249, 216, 118, 0.5);
  border-radius: 0px;
  transform: rotate(-5.46deg);
}

.todoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.todoHeader button {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todoHeaderButtons {
  display: flex;
  flex-direction: row;
}

.todoList {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 1rem 0.5rem;
  overflow-y: overlay;
  font-size: 2.2rem;
}

.todoElem {
  width: 90%;
}

.todoList button {
  cursor: pointer;
}

input.todoElem::placeholder {
  color: black;
  opacity: 1;
}

.faceMoodTodo img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.faceMoodTodo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* end of todo widget */

/* start of notes widget */
.notesWidget {
  width: 20rem;
  border: 1px solid #d2d2d2;
  height: 25rem;
  overflow-y: overlay;
  position: absolute;
  top: 2rem;
  max-height: 17rem;
  left: 0rem;
  background-color: #ececec;
  border: 2px solid rgb(68, 112, 233);
}

.notesWidget span {
  font-family: 'dunggeunmo';
}

.notesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(68, 112, 233);
  color: black;
  align-items: center;
  height: 0.5rem;
  
}

.notesHeader span {
  font-size: 1.5rem;
  color: white;
  margin-left: 0rem;
  font-family: 'dunggeunmo';
}

.notesContent p{
  font-family: 'dunggeunmo' !important;
  font-size: 1.5rem;
}

.notesHeader button {
  border: 1px solid rgb(164, 164, 164);
  background-color: #d2d2d2;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  color: rgb(164, 164, 164);
  margin-right: -0.5rem;
  margin-bottom: 0.25rem;
}

.notesContent {
}

.notesContent .ql-editor{
  width: 100%;
  tab-size: 3;
  font-size: 2rem;
}

.notesContent .ql-editor ol {
  padding-left: 0rem;
}

.notesContent .ql-editor ul {
  padding-left: 0rem;
}

/* end of notes widget */

/* qull editor */
.plainRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.plainPostArea {
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}

.ql-container.ql-snow{
  border: none !important;
}

.quill {
  display: flex;
  flex-direction: column;
  max-height: 120%;
  background-color: transparent;
  border: none;
}

.ql-container {
  font-size: inherit !important;
  max-height: 82%;
}

.ql-toolbar.ql-snow span{
  margin: 0rem;
}

.plainRightButtons {
  display: flex;
  flex-direction: row;
}


.postButtonsPlain button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.plainRightFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: -4rem;
}

.settingsSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*start of dialog popup */

.muiModal {
  padding: 2rem;
}

.muiModal span{
  font-size: 2.2rem;
}

.dialogInput {
  font-size: 2rem;
}

.dialogContent {
  display: flex;
  flex-direction: column;
}

.dialogContent input {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.dialogActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*end of dialog popup */

/* start of search box left */
.leftContentSearch {
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.foundWidgetHeader span {
  font-size: 3rem;
}

.leftContentSearch b{
  background-color: #F9D876;
  font-weight: normal;
}

.foundWidgetCategory {
  display: flex;
  flex-direction: column;
}

.foundSearchItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}


.foundSearchItemNotFound {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: default;
}

.foundDate {
  margin-right: 1rem;
}

.foundContent {
  display: flex;
  flex-direction: column;
}

.foundTodos {
  display: flex;
  flex-direction: row;
}

.foundTodos span {
  margin-right: 1rem;
}

.foundTodos b{
  margin-left: -1rem;
}

.searchOption {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: flex-end;
  margin-top: -2rem;
}

.searchOptionHeader {
  display: flex;
  flex-direction: row;
}

.searchOptionContent {
  display: flex;
  flex-direction: row;
}

.searchOptionDrop {
  display: flex;
  flex-direction: column;
}
/* end of search box right */